<div>
	<h2>Estadísticas de preguntas</h2>
	<ul>
		<li>Número de preguntas: <%=statistics.numeroPreguntas%></li>
		<li>Número de comentarios: <%=statistics.numeroComentarios%></li>
		<li>Media de comentarios: <%=statistics.mediaComentarios%></li>
		<li>Preguntas con comentarios: <%=statistics.numeroPreguntasConComentarios%></li>
		<li>Preguntas sin comentarios: <%=statistics.numeroPreguntasSinComentarios%></li>
	</ul>
</div>


